# Copia este archivo a .env y ajusta valores locales
MYSQL_DATABASE=producto_fet
MYSQL_USER=crudfet
MYSQL_PASSWORD=crudfet123
MYSQL_ROOT_PASSWORD=root123

DB_PORT=3306
APP_PORT=8080
SPRING_JPA_HIBERNATE_DDL_AUTO=update

